
    .modal-body form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-body form label,
    .modal-body form input {
        margin: 10px 0;
    }

    .modal-body form input {
        width: 100%;
        max-width: 300px;
    }
